@import "tailwindcss";

@layer base {
    #root:has(.connexion-wrapper) {
        display: grid;
        place-items: center;
    }
}

@layer components {

    /*Login & Signup pages classes*/
    .connexion-wrapper {
        width: clamp(280px, 90%, 450px);
        @apply grid place-items-center gap-10;
        @apply m-8 max-lg:mt-24 px-8 pt-16 pb-12 rounded-[50px] box-border;
        & * { transition: background-color 300ms ease-out; }
    }

    .connexion-header {
        @apply w-full flex justify-between gap-x-4;
        & a {
            @apply flex-1 h-[50px] inline-grid place-items-center rounded-[20px] font-black uppercase cursor-pointer;
            @apply text-white bg-secondary-accent-5 backdrop-blur-md hover:bg-secondary-accent-2;}
        & .bar { @apply w-1 bg-white inline-block;}
    }

    .connexion-form {
        @apply w-full inline-grid gap-3;
    }

    .connexion-input {
        @apply bg-white h-[50px] rounded-[20px];
        & input { @apply w-full h-full rounded-[20px] outline-none px-8 text-black; }
    }

    .connexion-uploader {
        display: none;
        label:has(&) {
            &::before {
                content: "Upload"; display: inline-grid; place-items: center;
                @apply text-black bg-white hover:bg-neutral-100 cursor-pointer;
                @apply hover:cursor-pointer w-fit h-[50px] px-8 rounded-[20px] font-bold mr-4;}
            span {
                content: "Choose your profile picture"; display: inline-grid; place-items: center;
                @apply text-sm text-white max-[380px]:max-w-[80px] max-[410px]:text-xs;
            }
        }
    }

    .connexion-button {
        @apply h-[50px] mt-8 inline-grid place-items-center rounded-[20px] font-black uppercase cursor-pointer;
        @apply text-white bg-primary-accent-2 backdrop-blur-md hover:bg-secondary-accent-2;
    }

    .connexion-error {
        @apply text-primary-accent-3 text-xs pl-6 -mt-2 font-semibold;
    }
}