@import "tailwindcss";

@layer base {

    footer {
        div:nth-child(n+2) {
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
        }
        strong {
            text-transform: uppercase;
            font-weight: bolder;
        }
    }
}