@import "tailwindcss";

@layer components {
    .popup-animation {
        animation-name: popup;
        animation-duration: 400ms;
        animation-timing-function: ease-out;
    }

    @keyframes popup {
        from { top: -100%; }
        to { top: 1.5rem; }
    }
}