@import "tailwindcss";
@import "./Connexion.css";
@import "./PopupMessage.css";
@import "./Header.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui";

@theme base {
    --color-light-degraded-90deg: linear-gradient(90deg, hsl(0, 0%, 100%), hsla(256, 35%, 48%, 50%));
    --color-dark-degraded-90deg: linear-gradient(90deg, hsl(256, 58%, 10%), hsl(256, 35%, 48%));

    --color-light-connexion: hsla(256, 35%, 48%, 50%);
    --color-dark-connexion: linear-gradient(0deg, hsl(256, 58%, 10%), hsl(256, 35%, 48%));

    --color-light-footer: linear-gradient(180deg, hsl(0, 0%, 100%), hsla(256, 52%, 44%, 50%));
    --color-dark-footer: hsl(330, 10%, 8%);

    --color-light-wrapper: hsl(0, 0%, 100%);
    --color-dark-wrapper: hsl(0, 0%, 55%);

    --color-light-content: hsl(0, 0%, 55%);
    --color-dark-content: hsl(0, 0%, 100%);

    --color-light-line: hsl(0, 0%, 55%);
    --color-dark-line: hsl(0, 0%, 100%);

    --color-primary-search: hsl(215, 36%, 36%);
    --color-primary-note: hsl(47, 100%, 51%);
    --color-primary-star: hsl(36, 100%, 60%);

    --color-primary-accent-1: hsl(256, 35%, 48%);
    --color-primary-accent-2: hsl(11, 92%, 46%);
    --color-primary-accent-3: hsl(356, 95%, 46%);
    --color-primary-accent-4: hsl(48, 100%, 67%);
    --color-primary-accent-5: hsl(0, 0%, 50%);

    --color-secondary-accent-1: hsla(256, 35%, 48%, 75%);
    --color-secondary-accent-2: hsla(11, 92%, 46%, 75%);
    --color-secondary-accent-3: hsla(356, 95%, 46%, 75%);
    --color-secondary-accent-4: hsla(48, 100%, 67%, 75%);
    --color-secondary-accent-5: hsla(0, 0%, 100%, 75%);


    --color-light-neutral-100: hsl(0, 0%, 100%);
    --color-dark-neutral-100: hsl(0, 0%, 0%);

    --color-light: hsl(0, 0%, 30%);
    --color-dark: hsl(0, 0%, 100%);

    --color-dark-nav: rgba(255, 255, 255, 0.10);
    --color-light-nav: rgba(0, 0, 0, 0.10);

    --font-railey: "railey", sans-serif;

    --breakpoint-laptop: 1024px;
}

@layer base {
    @font-face {
        font-family: "railey";
        src: url(../fonts/railey/Railey-PersonalUse.ttf);
    }
    html, body {
        min-width: 100vw; min-height: 100vh; overflow-x: hidden;
        font-family: Montserrat, sans-serif;
        transition-property: background-color, color, outline-color, fill;
        transition-duration: 600ms; scroll-behavior: smooth;
        @apply bg-light-neutral-100 dark:bg-black;
    }
    #root {
        max-width: 1440px; min-height: inherit;
        margin: auto;
    }


    /**************************************************/
    /*******************  KEYFRAMES  ******************/
    /**************************************************/
    @keyframes fall {
        from {opacity: 0; transform: translateY(-50px);}
        to {opacity: 1; transform: translateY(0);}
    }
    @keyframes bounce-up {
        from {opacity: 0; transform: translateY(100%)}
        to {opacity: 1; transform: translateY(0)}
    }
}


/**************************************************/
/**************  STYLE COMPONENTS  ****************/
/**************************************************/
@layer components {
    /*Light mode backgrounds*/
    .background-90deg {
        background: var(--color-light-degraded-90deg);
    }
    .background-connexion {
        background: var(--color-light-connexion);
    }
    .background-footer {
        background: var(--color-light-footer);
    }
    /*Dark mode backgrounds*/
    [data-theme=dark] .background-90deg {
        background: var(--color-dark-degraded-90deg);
    }
    [data-theme=dark] .background-connexion {
        background: var(--color-dark-connexion);
    }
    [data-theme=dark] .background-footer {
        background: var(--color-dark-footer);
    }

    .connexion-wrapper, .choice-wrapper {
        .btn-theme {@apply absolute min-lg:right-8 top-5;}
    }
    .animate-choice {
        animation: fall ease-out 600ms;
    }
    .animate-btn-save {
        animation: bounce-up ease-out 600ms;
    }
    .text-neon {
        color: #FFFFFF;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #E13109FF, 0 0 30px #E13109FF, 0 0 40px #E13109FF, 0 0 50px #E13109FF, 0 0 75px #E13109FF;
    }
}