@import "tailwindcss";
@import "./Connexion.css";
@import "./PopupMessage.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme base {
    --color-light-degraded-90deg: linear-gradient(90deg, hsl(0, 0%, 100%), hsla(256, 35%, 48%, 50%));
    --color-dark-degraded-90deg: linear-gradient(90deg, hsl(256, 58%, 10%), hsl(256, 35%, 48%));

    --color-light-connexion: hsla(256, 35%, 48%, 50%);
    --color-dark-connexion: linear-gradient(0deg, hsl(256, 58%, 10%), hsl(256, 35%, 48%));

    --color-light-footer: linear-gradient(180deg, hsl(0, 0%, 100%), hsla(256, 52%, 44%, 50%));
    --color-dark-footer: hsl(330, 10%, 8%);

    --color-light-wrapper: hsl(0, 0%, 100%);
    --color-dark-wrapper: hsl(0, 0%, 55%);

    --color-light-content: hsl(0, 0%, 55%);
    --color-dark-content: hsl(0, 0%, 100%);

    --color-light-line: hsl(0, 0%, 55%);
    --color-dark-line: hsl(0, 0%, 100%);

    --color-primary-search: hsl(215, 36%, 36%);
    --color-primary-note: hsl(47, 100%, 51%);
    --color-primary-star: hsl(36, 100%, 60%);

    --color-primary-accent-1: hsl(256, 35%, 48%);
    --color-primary-accent-2: hsl(11, 92%, 46%);
    --color-primary-accent-3: hsl(356, 95%, 46%);
    --color-primary-accent-4: hsl(48, 100%, 67%);
    --color-primary-accent-5: hsl(0, 0%, 50%);

    --color-secondary-accent-1: hsla(256, 35%, 48%, 75%);
    --color-secondary-accent-2: hsla(11, 92%, 46%, 75%);
    --color-secondary-accent-3: hsla(356, 95%, 46%, 75%);
    --color-secondary-accent-4: hsla(48, 100%, 67%, 75%);
    --color-secondary-accent-5: hsla(0, 0%, 100%, 75%);


    --color-light-neutral-100: hsl(0, 0%, 100%);
    --color-dark-neutral-100: hsl(0, 0%, 0%);
}

@layer base {
    body {
        min-width: 100vw; min-height: 100vh; overflow-x: hidden;
        @apply bg-light-neutral-100 dark:bg-dark-neutral-100;
        transition-property: background-color, color, outline-color, fill;
        transition-duration: 600ms;
    }
    #root {
        min-width: inherit; min-height: inherit;
    }
}

@layer components {
    /*Light mode backgrounds*/
    .background-90deg {
        background: var(--color-light-degraded-90deg);
    }
    .background-connexion {
        background: var(--color-light-connexion);
    }
    .background-footer {
        background: var(--color-light-footer);
    }
    /*Dark mode backgrounds*/
    [data-theme=dark] .background-90deg {
        background: var(--color-dark-degraded-90deg);
    }
    [data-theme=dark] .background-connexion {
        background: var(--color-dark-connexion);
    }
    [data-theme=dark] .background-footer {
        background: var(--color-dark-footer);
    }
}